* {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-decoration: none; }

@keyframes ani-circle {
  100% {
    transform: scale(1.12) rotate(359deg);
    width: 400px;
    height: 400px;
    filter: grayscale(0%); } }
@keyframes ani-circle2 {
  100% {
    transform: scale(1.15) rotate(359deg); } }
@keyframes cracker {
  0% {
    width: 50px;
    height: 50px;
    border: 18px dotted blue; }
  20% {
    width: 150px;
    height: 150px;
    border: 16px dotted #ec43c2; }
  40% {
    width: 200px;
    height: 200px;
    border: 12px dotted #ec8143; }
  60% {
    width: 300px;
    height: 300px;
    border: 8px dotted #43ec84; }
  70% {
    width: 350px;
    height: 350px;
    border: 8px dotted #43ec84; }
  80% {
    width: 450px;
    height: 450px;
    border: 4px dotted #937ee0; }
  100% {
    width: 550px;
    height: 550px;
    border: 0px dotted #e07e7e; } }
body {
  margin: 0;
  background-color: black; }
  body::-webkit-scrollbar {
    display: none; }

.container {
  width: 100%;
  height: 100%; }
  .container nav {
    z-index: 1;
    width: 100%;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0;
    display: flex;
    align-items: center; }
    .container nav #ui {
      position: absolute;
      right: 5%;
      top: 30%; }
    .container nav ul {
      text-align: center;
      width: 100%;
      margin: 0 20%;
      font-weight: bold; }
      .container nav ul span {
        display: none; }
      .container nav ul li {
        display: inline-block;
        margin: 2%; }
        .container nav ul li a {
          color: #c79437;
          font-size: calc(0.5rem + 0.8vw );
          cursor: not-allowed; }
    .container nav div {
      position: absolute;
      top: 50%;
      left: 1%;
      transform: translate(0, -50%);
      display: flex;
      align-items: center; }
      .container nav div p {
        font-size: calc(0.4rem + 1vw );
        font-weight: bold;
        margin: 20px;
        color: #f1ece0; }
  .container .circle {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    background: radial-gradient(#78baf3, #ebebeb, #0c8cff); }
  .container .on {
    animation: ani-circle 3s ease-in-out 1 forwards; }
  .container .on:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    animation: ani-circle2 5s alternate-reverse infinite;
    border: calc(.3rem + .3vw) dotted white;
    border-radius: 100%;
    box-sizing: border-box;
    transform: scale(1.2); }
  .container .cracker1 {
    opacity: 0.05;
    position: absolute;
    bottom: 1px;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 4px dotted blue;
    animation: cracker 1s ease-out infinite;
    border-radius: 100% 100% 100% 100%; }
  .container .cracker1:nth-child(1) {
    animation: cracker 1.1s ease-out infinite; }
  .container .cracker1:nth-child(1) {
    animation: cracker 1.2s ease-out infinite; }
  .container .cracker1:nth-child(1) {
    animation: cracker 1.3s ease-out infinite; }
  .container .cracker:nth-child(2) {
    opacity: 0.1;
    position: absolute;
    right: 1px;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 4px dotted blue;
    animation: cracker 1s ease-out infinite;
    transform: rotate(180deg);
    border-radius: 100% 100% 100% 100%; }
  .container section:nth-of-type(1) {
    position: relative;
    width: 100%;
    height: 100%;
    position: absolute;
    align-items: center;
    top: 0px;
    display: flex;
    justify-content: center;
    overflow: hidden; }
    .container section:nth-of-type(1) article {
      transition: .5s;
      position: absolute;
      opacity: 0.8;
      width: 300px;
      height: 300px;
      filter: grayscale(200%); }
    .container section:nth-of-type(1) article:nth-of-type(1) {
      left: 30%;
      z-index: 2;
      background-color: white;
      background-image: url(./image/cd.jpg);
      background-size: 100% 100%; }
    .container section:nth-of-type(1) .text {
      position: absolute;
      width: 100%;
      height: 100%;
      font-size: calc(1rem + 0.8vw );
      font-weight: bold;
      color: red;
      transform: translate(-50%, -50%);
      top: 50%;
      left: 50%;
      display: flex;
      align-items: center;
      justify-content: center; }
    .container section:nth-of-type(1) article:nth-of-type(2) {
      z-index: 3;
      opacity: 1;
      background-image: url(./image/kda-music-stream.jpg);
      background-size: 100% 100%; }
    .container section:nth-of-type(1) article:nth-of-type(3) {
      z-index: 2;
      right: 30%;
      background-image: url(./image/cd2.jpg);
      background-size: 100% 100%; }
  .container .bar {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    height: 30%;
    transform: translate(-50%, -50%);
    animation: Bar alternate-reverse 0.5s infinite; }
@keyframes KDA {
  100% {
    filter: brightness(170%); } }
@keyframes Bar {
  100% {
    filter: brightness(250%);
    height: 40%; } }
  .container .kda-logo {
    animation: KDA 1.1s ease-out infinite alternate-reverse;
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-flow: row wrap;
    align-content: center; }
    .container .kda-logo img {
      max-width: 90%; }
    .container .kda-logo p {
      max-width: 100%;
      color: blanchedalmond;
      margin-bottom: 10%;
      font-size: calc(.5rem + 1vw);
      max-height: 100%;
      text-align: center; }
  .container section:nth-of-type(2) {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(./image/image.jpg);
    background-size: 100% 100%;
    background-position: center; }
    .container section:nth-of-type(2) img {
      animation: KDA 3s ease-out infinite alternate-reverse;
      position: absolute;
      bottom: -17%;
      max-width: 50%;
      left: 50%;
      transform: translate(-50%, 0); }
  .container section:nth-of-type(3) {
    background-image: url(./image/ccc05c53c5fe49649650c2345e0f5597.jpg);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row;
    z-index: 100;
    align-items: center;
    margin-top: 5%; }
    .container section:nth-of-type(3) article {
      background-position: left top;
      background-size: 150% 150%;
      background-repeat: no-repeat;
      cursor: pointer;
      color: #a5a5a5;
      height: 65%;
      width: 100%;
      position: relative;
      transition: 2s;
      border: 1.5px solid #c7c7c7;
      margin: 0 10px; }
      .container section:nth-of-type(3) article img {
        width: 100%;
        height: 100%; }
      .container section:nth-of-type(3) article ul {
        position: absolute;
        right: 30%;
        top: 60%;
        display: none; }
    .container section:nth-of-type(3) article:nth-of-type(1) {
      background-image: url(./image/Layer\ 4.png); }
    .container section:nth-of-type(3) article:nth-of-type(2) {
      background-image: url(./image/Layer\ 1.png); }
    .container section:nth-of-type(3) article:nth-of-type(3) {
      background-image: url(./image/Layer\ 3.png); }
    .container section:nth-of-type(3) article:nth-of-type(4) {
      background-image: url(./image/Layer\ 2.png); }
    .container section:nth-of-type(3) .on2 {
      border-radius: 0% 5% 30% 0%;
      width: 250%;
      opacity: 0.9;
      transition: 2s;
      animation: KDA 1s 1 forwards; }
      .container section:nth-of-type(3) .on2 img {
        width: 50%; }
      .container section:nth-of-type(3) .on2 ul {
        display: block; }
  .container section:nth-of-type(4) {
    width: 100%;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; }
    .container section:nth-of-type(4) h1 {
      width: 100%;
      margin-left: 2%;
      height: 10%;
      font-size: calc(2rem + 1vw);
      font-weight: 100; }
    .container section:nth-of-type(4) ul {
      width: 60%;
      height: 80%;
      display: flex;
      justify-content: center;
      padding: 0 10%;
      margin-bottom: 5%;
      flex-flow: row wrap; }
      .container section:nth-of-type(4) ul li {
        width: 30%;
        height: 70%; }
        .container section:nth-of-type(4) ul li a {
          color: white; }
        .container section:nth-of-type(4) ul li p {
          font-size: calc(1rem + 1vw);
          width: 100%;
          height: 20%; }
          .container section:nth-of-type(4) ul li p span {
            color: #c79437;
            font-size: calc(0.1rem + 1vw); }
        .container section:nth-of-type(4) ul li a:hover > footer {
          background-color: #ffffff9b;
          color: black;
          transition: 1s;
          border-radius: 1%;
          font-weight: bold; }
        .container section:nth-of-type(4) ul li img {
          width: 100%;
          border: 1px solid #1d0f30; }
        .container section:nth-of-type(4) ul li div {
          font-size: calc(0.1rem + 1vw);
          width: 100%;
          height: 30%;
          box-sizing: border-box;
          padding: 10px;
          background-color: #10101f;
          border: 1px solid #1d0f30; }
        .container section:nth-of-type(4) ul li footer {
          width: 100%;
          height: 20%;
          display: flex;
          align-items: center;
          box-sizing: border-box;
          padding: 10px;
          background-color: #10101f;
          border: 1px solid #1d0f30; }
  .container section:nth-of-type(5) {
    width: 100%;
    border-top: 1px solid #c79437;
    background-color: #10101f; }
    .container section:nth-of-type(5) div {
      width: 500px;
      color: #6e6d6d; }
      .container section:nth-of-type(5) div ul:nth-of-type(1) {
        width: 100%;
        text-align: center;
        padding-top: 20px; }
        .container section:nth-of-type(5) div ul:nth-of-type(1) li {
          margin: 10px;
          color: #c79437;
          display: inline-block;
          letter-spacing: 0.2vw; }
      .container section:nth-of-type(5) div p {
        text-align: center;
        margin: 10px;
        font-size: 0.55rem; }
        .container section:nth-of-type(5) div p a {
          color: #c79437; }
      .container section:nth-of-type(5) div ul:nth-of-type(2) {
        width: 100%;
        text-align: center;
        padding-top: 20px; }
        .container section:nth-of-type(5) div ul:nth-of-type(2) li {
          margin: 3px;
          display: inline-block; }
          .container section:nth-of-type(5) div ul:nth-of-type(2) li img {
            width: 100%;
            margin: 5% 0; }
        .container section:nth-of-type(5) div ul:nth-of-type(2) a {
          color: #6e6d6d;
          font-size: 0.7rem; }
  .container .btn {
    width: 100px;
    height: 100px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
    z-index: 200; }

@media only screen and (max-width: 768px) {
  @keyframes ani-circle {
    100% {
      transform: scale(1.12) rotate(359deg);
      width: 250px;
      height: 250px;
      filter: grayscale(0%); } }
  .container nav #ui {
    right: -5%;
    transform: translate(0, -50%);
    top: 50%; }
  .container nav ul {
    position: relative; }
    .container nav ul div {
      left: -30%; }
      .container nav ul div img {
        width: 15%;
        height: 15%; }
    .container nav ul p {
      font-size: .8rem; }
    .container nav ul li {
      display: none; }
    .container nav ul span {
      display: block;
      font-size: calc(1rem + 1vw);
      position: absolute;
      transform: translate(0, -50%);
      top: 50%;
      right: -20%;
      color: wheat; }
      .container nav ul span a {
        color: #c79437; }
  .container section:nth-of-type(1) article {
    width: 150px;
    height: 150px; }
  .container section:nth-of-type(2) {
    height: 50%; }
  .container .kda-logo p {
    padding: 5%; }
  .container section:nth-of-type(3) {
    height: 220%;
    flex-flow: row wrap;
    justify-content: center; }
    .container section:nth-of-type(3) .on2 {
      border-radius: 0%; }
    .container section:nth-of-type(3) article {
      width: 50%;
      height: 20%;
      margin: 5px 30px;
      background-position: left top;
      background-size: 130% 100%;
      border-radius: 0% 0% 0% 0%;
      width: 200%;
      margin: 0 10%;
      opacity: 0.8;
      transition: 2s;
      animation: KDA 1s 1 forwards; }
      .container section:nth-of-type(3) article ul {
        top: 40%;
        font-size: calc(0.1rem + 1vw); }
      .container section:nth-of-type(3) article img {
        width: 50%; }
      .container section:nth-of-type(3) article ul {
        display: block; }
    .container section:nth-of-type(3) article:nth-of-type(1) {
      margin-top: 30%; }
  .container section:nth-of-type(4) {
    height: 200%; }
    .container section:nth-of-type(4) h1 {
      font-size: calc(1rem + 1vw);
      height: 5%; }
    .container section:nth-of-type(4) ul {
      width: 80%;
      height: 90%;
      flex-flow: column; }
      .container section:nth-of-type(4) ul li {
        width: 100%;
        height: 30%;
        margin: 10% 0; }
        .container section:nth-of-type(4) ul li div {
          height: 15%; }
        .container section:nth-of-type(4) ul li footer {
          height: 10%; }
  .container section:nth-of-type(5) > div {
    width: 300px; } }

/*# sourceMappingURL=style.css.map */
