* {
  padding: 0;
  list-style: none;
  margin: 0;
  text-decoration: none; }

nav {
  position: fixed;
  width: 100%;
  top: 0px;
  color: white;
  background-color: black; }
  nav > div {
    position: absolute;
    left: 0px;
    top: 0px;
    text-align: right;
    width: 100%; }
    nav > div a:last-child img {
      padding-right: 2%;
      padding-top: 1%; }
  nav ul {
    height: calc(2.5rem + 4vw);
    margin: 0px;
    padding: 0;
    text-align: center;
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center; }
  nav ul:hover {
    transition: 1s; }
  nav li {
    font-size: calc(0.5rem + 0.6vw);
    margin: 5px;
    display: inline-block; }
  nav div {
    width: 100%;
    margin: 0;
    font-size: calc(1rem + 1vw);
    letter-spacing: 0.5vw;
    font-weight: bold; }
  nav a {
    color: white; }

section article:nth-of-type(1) {
  width: 100%;
  height: 70%;
  display: inline-flex;
  flex-flow: column;
  justify-content: center;
  background-color: #e7e7e7; }
  section article:nth-of-type(1) > div:nth-of-type(1) {
    width: 100%;
    height: calc(2.5rem + 4vw);
    background-color: blue; }
  section article:nth-of-type(1) > div:nth-of-type(2) {
    width: 100%;
    display: flex;
    flex: 1;
    font-size: calc(0.1rem + 0.8vw); }
    section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center; }
      section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form {
        width: 40%;
        height: 75%;
        display: flex;
        flex-flow: row wrap; }
        section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) {
          height: 60%;
          width: 100%; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) h1 {
            width: 100%;
            height: 20%;
            padding-bottom: 10%;
            text-align: center;
            font-size: calc(1rem + 0.8vw);
            font-weight: 100; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) input[type=email] {
            width: 100%;
            height: 10%;
            background-color: white;
            border: 0;
            margin-bottom: 3%;
            padding: 10px;
            font-size: calc(0.1rem + 0.5vw); }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) input[type=password] {
            width: 100%;
            height: 10%;
            background-color: white;
            border: 0;
            padding: 10px;
            font-size: calc(0.1rem + 0.5vw); }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) p {
            width: 100%;
            font-size: calc(0.1rem + 0.5vw);
            margin: 3px;
            margin-bottom: 5%; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) input[type=checkbox] {
            display: none; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) input[type=checkbox] + label {
            position: relative;
            display: inline-block;
            width: 10px;
            height: 10px;
            background-color: white; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) .checkbox-copy {
            position: absolute;
            left: 200%;
            bottom: 0px;
            width: 100px;
            font-size: calc(0.1rem + 0.5vw); }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(1) input[type=checkbox]:checked + label {
            width: 10px;
            height: 10px;
            background-color: black; }
        section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(2) {
          height: 40%; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(2) button {
            cursor: pointer;
            width: 100%;
            margin-bottom: 5%;
            height: 20%;
            font-size: calc(0.3rem + 0.5vw);
            background-color: #1f1f1f;
            border: 0;
            color: #dbdbdb; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(2) .input-a {
            width: 100%;
            text-align: center; }
            section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(1) form > div:nth-of-type(2) .input-a a {
              color: black; }
    section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) {
      width: 50%;
      height: 100%;
      background-image: url(../images/login_main.jpg);
      background-size: 200% 200%;
      background-position: top right;
      display: flex;
      align-items: center;
      justify-content: center; }
      section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) {
        width: 40%;
        height: 75%;
        display: flex;
        flex-flow: row wrap; }
        section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) {
          height: 60%; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) h1 {
            width: 200%;
            height: 20%;
            text-align: left;
            font-size: calc(1rem + 0.8vw);
            font-weight: 500;
            color: white; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > p {
            width: 100%;
            text-align: left;
            color: white;
            font-weight: 100;
            font-size: calc(0.5rem + 0.8vw); }
            section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(1) > p > span {
              font-size: calc(1rem + 0.8vw);
              font-weight: 500;
              line-height: 50px; }
        section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) {
          width: 100%;
          height: 40%; }
          section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) a {
            color: black;
            font-size: calc(0.3rem + 0.5vw);
            font-weight: bold; }
            section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) a > p {
              position: relative;
              height: 20%;
              text-align: center;
              background-color: #e7e7e7; }
              section article:nth-of-type(1) > div:nth-of-type(2) > div:nth-of-type(2) > div:nth-of-type(1) > div:nth-of-type(2) a > p span {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%); }
section article:nth-of-type(2) {
  background-color: #edf2f4;
  width: 100%;
  height: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center; }
  section article:nth-of-type(2) > div:nth-of-type(1) {
    display: inline-flex;
    flex-flow: row wrap;
    justify-content: center;
    background: #1b1b1b;
    width: 100%;
    height: 100%;
    align-items: center; }
    section article:nth-of-type(2) > div:nth-of-type(1) h1 {
      margin: 14 0; }
    section article:nth-of-type(2) > div:nth-of-type(1) ul {
      width: 15%;
      height: 35%;
      font-size: calc(0.3rem + 0.3vw);
      font-weight: 500;
      font-style: normal;
      color: #999; }
      section article:nth-of-type(2) > div:nth-of-type(1) ul li a {
        color: whitesmoke;
        font-size: calc(0.1rem + 0.3vw); }
    section article:nth-of-type(2) > div:nth-of-type(1) ul:last-child {
      width: 75%;
      height: 30%;
      position: relative; }
      section article:nth-of-type(2) > div:nth-of-type(1) ul:last-child div {
        position: absolute;
        right: 0px; }
        section article:nth-of-type(2) > div:nth-of-type(1) ul:last-child div img {
          margin: 5px;
          z-index: -1;
          max-width: 20%;
          height: auto; }
      section article:nth-of-type(2) > div:nth-of-type(1) ul:last-child img:hover {
        filter: brightness(200%); }
    section article:nth-of-type(2) > div:nth-of-type(1) form {
      background-color: black; }
    section article:nth-of-type(2) > div:nth-of-type(1) input:nth-of-type(1) {
      border: 0;
      background-color: black;
      width: 70%; }
    section article:nth-of-type(2) > div:nth-of-type(1) input:nth-of-type(2) {
      width: 25%;
      border: 0;
      background-color: black;
      color: #999; }

/*# sourceMappingURL=style.css.map */
